/*
 * API SIMCA
 * SIMCA API Client
 *
 * OpenAPI spec version: 1.0.4
 * Contact: pdgsimca@gmail.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ErrorDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TransactionControllerApi {
    private ApiClient apiClient;

    public TransactionControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TransactionControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createTransactionUsingPOST
     * @param statePol Transaction state (optional)
     * @param referenceSale Transaction reference in SIMCA (optional)
     * @param referencePol Transaction reference in PayU (optional)
     * @param sign Signature (optional)
     * @param value Transaction value (optional)
     * @param test Test indicator (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createTransactionUsingPOSTCall(Integer statePol, String referenceSale, String referencePol, String sign, Double value, Boolean test, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/transaction/v1/donation";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (statePol != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "state_pol", statePol));
        if (referenceSale != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "reference_sale", referenceSale));
        if (referencePol != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "reference_pol", referencePol));
        if (sign != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sign", sign));
        if (value != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "value", value));
        if (test != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "test", test));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createTransactionUsingPOSTValidateBeforeCall(Integer statePol, String referenceSale, String referencePol, String sign, Double value, Boolean test, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = createTransactionUsingPOSTCall(statePol, referenceSale, referencePol, sign, value, test, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Handle transaction
     * 
     * @param statePol Transaction state (optional)
     * @param referenceSale Transaction reference in SIMCA (optional)
     * @param referencePol Transaction reference in PayU (optional)
     * @param sign Signature (optional)
     * @param value Transaction value (optional)
     * @param test Test indicator (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createTransactionUsingPOST(Integer statePol, String referenceSale, String referencePol, String sign, Double value, Boolean test) throws ApiException {
        createTransactionUsingPOSTWithHttpInfo(statePol, referenceSale, referencePol, sign, value, test);
    }

    /**
     * Handle transaction
     * 
     * @param statePol Transaction state (optional)
     * @param referenceSale Transaction reference in SIMCA (optional)
     * @param referencePol Transaction reference in PayU (optional)
     * @param sign Signature (optional)
     * @param value Transaction value (optional)
     * @param test Test indicator (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createTransactionUsingPOSTWithHttpInfo(Integer statePol, String referenceSale, String referencePol, String sign, Double value, Boolean test) throws ApiException {
        com.squareup.okhttp.Call call = createTransactionUsingPOSTValidateBeforeCall(statePol, referenceSale, referencePol, sign, value, test, null, null);
        return apiClient.execute(call);
    }

    /**
     * Handle transaction (asynchronously)
     * 
     * @param statePol Transaction state (optional)
     * @param referenceSale Transaction reference in SIMCA (optional)
     * @param referencePol Transaction reference in PayU (optional)
     * @param sign Signature (optional)
     * @param value Transaction value (optional)
     * @param test Test indicator (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createTransactionUsingPOSTAsync(Integer statePol, String referenceSale, String referencePol, String sign, Double value, Boolean test, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createTransactionUsingPOSTValidateBeforeCall(statePol, referenceSale, referencePol, sign, value, test, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
